{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/serverlist/add.js"></script>
{% endblock %}

{% block mycss %}
  <style type="text/css">
#add_serverlist .rightIcon .form-control-feedback{
  top: 0;
  right: -26px;
}
  </style>

{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-gamepad fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gamepad"></i> 服务器列表管理</a></li>
        <li class="active"> 新增</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">新建服务器列表</h3>
            </div>
            <form class="form-horizontal" id="add_serverlist" role="form" ms-controller="add_serverlist" method="POST" enctype="multiple/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="svr_id" class="col-xs-3 control-label">服务器id</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="serverlist.svr_id" class="form-control" id="svr_id" name="svr_id">
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-xs-3 control-label">服务器名</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.name" class="form-control" id="name" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="clt_vsn" class="col-xs-3 control-label">客户端版本号</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.clt_vsn" class="form-control" id="clt_vsn" name="clt_vsn" placeholder="1.1.1">
                  </div>
                </div>
                <div class="form-group">
                  <label for="area_name" class="col-xs-3 control-label">大区名称</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.area_name" class="form-control" id="area_name" name="area_name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="state" class="col-xs-3 control-label">服务器状态</label>
                  <div class="col-xs-6 rightIcon">
                    <label class="radio-inline" ms-repeat-state="states">
                      <input type="radio" ms-duplex-string="serverlist.state" name="state" ms-attr-value="state.value">[[ state.name ]]
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="type" class="col-xs-3 control-label">服务器类型</label>
                  <div class="col-xs-6 rightIcon">
                    <label class="radio-inline" ms-repeat-type="types">
                      <input type="radio" ms-duplex-string="serverlist.type" name="type" ms-attr-value="type.value ">[[ type.name ]]
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ip" class="col-xs-3 control-label">游戏服务器ip</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.ip" class="form-control" id="ip" name="ip">
                  </div>
                </div>
                <div class="form-group">
                  <label for="local_ip" class="col-xs-3 control-label">游戏服务器内网ip</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.local_ip" class="form-control" id="local_ip" name="local_ip">
                  </div>
                </div>
                <div class="form-group">
                  <label for="port" class="col-xs-3 control-label">游戏服务器端口</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="serverlist.port" class="form-control" id="port" name="port">
                  </div>
                </div>
                <div class="form-group">
                  <label for="gm_port" class="col-xs-3 control-label">GM端口</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="serverlist.gm_port" class="form-control" id="gm_port" name="gm_port">
                  </div>
                </div>
                <div class="form-group">
                  <label for="log_port" class="col-xs-3 control-label">Log端口</label>
                  <div class="col-xs-6">
                    <input ms-duplex="serverlist.log_port" type="number" class="form-control" id="log_port" name="log_port">
                  </div>
                </div>
                <div class="form-group">
                  <label for="platforms" class="col-xs-3 control-label">所属平台</label>
                  <div class="col-xs-6 rightIcon">
                    <label class="checkbox-inline" ms-repeat-platform="platforms">
                      <input ms-duplex="serverlist.platforms" type="checkbox" name="platforms" ms-attr-value=[[platform.value]]>[[ platform.name ]]
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="channels" class="col-xs-3 control-label">所属渠道</label>
                  <div class="col-xs-6">
                    <select id="channels" name="channels" ms-duplex="serverlist.channels" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <option value="">选择至少一个渠道</option>
                      <option ms-attr-value=[[channel.id]] ms-repeat-channel="channels">[[channel.name]]-[[channel.tag]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="clt_update_url" class="col-xs-3 control-label">客户端整包更新地址</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.clt_update_url" class="form-control" id="clt_update_url" name="clt_update_url">
                  </div>
                </div>
                <div class="form-group">
                  <label for="activity_list_id" class="col-xs-3 control-label">活动列表</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="serverlist.activity_list_id" class="form-control" id="activity_list_id" name="activity_list_id">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" ms-click="to_list" class="btn btn-default"><i class="fa fa-hand-o-right"></i>概览</button>
                    <button type="submit" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 提交中"><i class="fa fa-plus"></i>提交</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
  </div>
{% endblock %}

