{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/serverlist/list.js"></script>
{% endblock %}

{% block mycss %}
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="serverlist_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-gamepad fa-lg"></i>
        <button type="button" ms-click="to_add" class="btn btn-xs btn-default"><i class="fa fa-plus">添加</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gamepad"></i> 服务器列表管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器列表<span class="badge bg-green">[[ serverlists_amount ]]</span></h3>
              <div class="box-tools">
                <select id="platform" ms-duplex="platform" data-placeholder="可选择一个平台" class="basic-select2" style="width: 130px;">
                  <option value="all">全部平台</option>
                  <option ms-attr-value=[[platform.value]] ms-repeat-platform="platforms">[[ platform.name ]]</option>
                </select>
                <select id="channel" ms-duplex="channel" data-placeholder="可选择一个渠道" class="basic-select2" style="width: 130px;">
                  <option value="all">全部渠道</option>
                  <option ms-attr-value=[[channel.id]] ms-repeat-channel="channels">[[ channel.name ]]-[[channel.tag]]</option>
                </select>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>服务器id</th>
                  <th>服务器名字</th>
                  <th>版本号</th>
                  <th>状态</th>
                  <th>类型</th>
                  <th>服务器地址</th>
                  <th>所属平台</th>
                  <th>所属渠道</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-serverlist="serverlists">
                  <td>[[ serverlist.svr_id ]]</td>
                  <td>[[serverlist.name]]</td>
                  <td>[[serverlist.clt_vsn]]</td>
                  <td><span ms-attr-class="serverlist.state.class">[[serverlist.state.name]]</span></td>
                  <td><span class="badge">[[serverlist.type.name]]</span></td>
                  <td>[[serverlist.ip]]-[[serverlist.port]]</td>
                  <td><span ms-repeat-platform="serverlist.platforms" class="badge">[[platform.name]]</span></td>
                  <td><span ms-repeat-channel="serverlist.channels" class="badge">[[channel.name]]</span></td>
                  <td>
                    <button type="button" ms-click="show_detail(serverlist)" class="btn btn-default btn-xs"><i class="fa fa-bars"></i>详情</button>
                    <button type="button" ms-click="to_edit(serverlist)" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>修改</button>
                    <button type="button" ms-click="del_serverlist(serverlist, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-gamepad"></i>服务器列表详情</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" role="form" >
                  <div class="box-body">
                    <div class="form-group">
                      <label for="svr_id" class="col-xs-3 control-label">服务器id</label>
                      <div class="col-xs-6">
                        <input type="number" ms-duplex="serverlist.svr_id" class="form-control input-sm" id="svr_id" name="svr_id" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-xs-3 control-label">服务器名</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.name" class="form-control input-sm" id="name" name="name" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="clt_vsn" class="col-xs-3 control-label">客户端版本号</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.clt_vsn" class="form-control input-sm" id="clt_vsn" name="clt_vsn" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="area_name" class="col-xs-3 control-label">大区名称</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.area_name" class="form-control input-sm" id="area_name" name="area_name" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="state" class="col-xs-3 control-label">服务器状态</label>
                      <div class="col-xs-6">
                        <span name ="state" ms-attr-class="serverlist.state.class">[[serverlist.state.name]]</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type" class="col-xs-3 control-label">服务器类型</label>
                      <div class="col-xs-6">
                        <span class="badge">[[ serverlist.type.name ]]</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="ip" class="col-xs-3 control-label">游戏服务器ip</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.ip" class="form-control input-sm" id="ip" name="ip" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="local_ip" class="col-xs-3 control-label">游戏服务器内网ip</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.local_ip" class="form-control input-sm" id="local_ip" name="local_ip" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="port" class="col-xs-3 control-label">游戏服务器端口</label>
                      <div class="col-xs-6">
                        <input type="number" ms-duplex="serverlist.port" class="form-control input-sm" id="port" name="port" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gm_port" class="col-xs-3 control-label">GM端口</label>
                      <div class="col-xs-6">
                        <input type="number" ms-duplex="serverlist.gm_port" class="form-control input-sm" id="gm_port" name="gm_port" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="log_port" class="col-xs-3 control-label">Log端口</label>
                      <div class="col-xs-6">
                        <input ms-duplex="serverlist.log_port" type="number" class="form-control input-sm" id="log_port" name="log_port" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="platforms" class="col-xs-3 control-label">所属平台</label>
                      <div class="col-xs-6">
                        <span class="badge" ms-repeat-platform="serverlist.platforms">[[platform.name]]</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="channels" class="col-xs-3 control-label">所属渠道</label>
                      <div class="col-xs-6">
                        <span class="badge" ms-repeat-channel="serverlist.channels">[[channel.name]]</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="clt_update_url" class="col-xs-3 control-label">客户端整包地址</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.clt_update_url" class="form-control input-sm" id="clt_update_url" name="clt_update_url" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="activity_list_id" class="col-xs-3 control-label">活动列表</label>
                      <div class="col-xs-6">
                        <input type="text" ms-duplex="serverlist.activity_list_id" class="form-control input-sm" id="activity_list_id" name="activity_list_id" readonly>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                <button type="button" ms-click="to_edit(serverlist)" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-edit"></i>修改</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>


  </div>
{% endblock %}
