{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/channel/add.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-tags fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-tags"></i> 渠道管理</a></li>
        <li class="active"> 添加</li>
      </ol>
    </section>
    <section class="content">
      <div class="row" ms-controller="add_channel">
        <div class="col-xs-6">
          <form class="form-horizontal" id="add_channel" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">添加渠道</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                  <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-xs-3 control-label">渠道名字</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="channel.name" class="form-control" name="name" placeholder="网易">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tag" class="col-xs-3 control-label">渠道标签</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="channel.tag" class="form-control" name="tag" placeholder="netease">
                  </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-default" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
                <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 添加中"><i class="fa fa-plus"></i>添加</button>
              </div><!-- /.box-footer-->
            </div><!-- /.box -->
          </form>
        </div>
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">当前添加的渠道<span class="badge bg-green">[[ added_channels_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>渠道名</th>
                  <th>渠道标签</th>
                </tr>
                <tr ms-repeat-added_channel="added_channels">
                  <td>[[ added_channel.name ]]</td>
                  <td>[[ added_channel.tag ]]</td>
                </tr>
              </table>

            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
  </div>
{% endblock %}
