{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/channel/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="channel_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-tags fa-lg"></i>
        <button type="button" ms-click="to_add" class="btn btn-xs btn-default"><i class="fa fa-plus">添加</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-tags"></i> 渠道管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">渠道列表<span class="badge bg-green">[[ channels_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>渠道名</th>
                  <th>渠道标签</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-channel="channels">
                  <td>[[ channel.name ]]</td>
                  <td>[[ channel.tag ]]</td>
                  <td>
                    <button type="button" ms-click="del_channel(channel, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      <div class="row">
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
