<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}轩意Admin{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <!-- <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ionicons -->
    <!-- <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- Morris chart -->
    <link href="/bower_components/admin-lte/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="/bower_components/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="/bower_components/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/bower_components/admin-lte/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="/bower_components/admin-lte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

    <link href="/bower_components/admin-lte/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

    <link href="/bower_components/vex/css/vex.css" rel="stylesheet">
    <link href="/bower_components/vex/css/vex-theme-os.css" rel="stylesheet">
    <link href="http://cdn.staticfile.org/messenger/1.4.0/css/messenger.css" rel="stylesheet">
    <link href="http://cdn.staticfile.org/messenger/1.4.0/css/messenger-theme-future.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


    <!-- mycss -->
    {% block mycss %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue">
<div id="svr-data" data-is_login={% if account %} true {% else %} false {% endif %} >
  </div>

    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo"><b>轩意Admin</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              {% if account %}
                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/logo.jpg" class="user-image" alt="User Image"/>
                    <span class="hidden-xs">{{ account.name }}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                      <img src="/static/logo.jpg" class="img-circle" alt="User Image" />
                      <p>
                        {{ account.name }}
                      </p>
                    </li>
                    <!-- Menu Body -->
                    <!-- <li class="user-body">
                      <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                      </div>
                    </li> -->
                    <li class="user-footer">
                      <div class="pull-left">
                        <a id="changePassword" class="btn btn-default btn-flat" href="#">修改密码</a>
                      </div>
                      <div class="pull-right">
                        <a href="/account/logout" class="btn btn-default btn-flat">退出</a>
                      </div>
                    </li>
                  {% else %}
                    <li><a href="/account/login">登录</a></li>
                  {% endif %}
                  <!-- Menu Footer-->
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/static/logo.jpg" class="img-circle" alt="User Image" />
            </div>
            {% if account %}
              <div class="pull-left info">
                <p>{{ account.name }}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            {% else %}
              <div class="pull-left info">
                <i class="fa fa-circle text-muted"></i> Offline
              </div>
            {% endif %}
          </div>
          <!-- search form -->
          <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% ifequal path.head "serverlist" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-gamepad"></i>
                <span>服务器列表管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "serverlist" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/serverlist/list"><i class="fa fa-circle-o text-info"></i> 概览</a></li>
                  {% ifequal path.tail "add" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/serverlist/add"><i class="fa fa-circle-o"></i> 添加服务器</a></li>
                {% else %}
                  <li><a href="/serverlist/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  <li><a href="/serverlist/add"><i class="fa fa-circle-o"></i> 添加服务器</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "channel" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-tags"></i>
                <span>渠道管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "channel" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/channel/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  {% ifequal path.tail "add" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/channel/add"><i class="fa fa-circle-o"></i> 添加渠道</a></li>
                {% else %}
                  <li><a href="/channel/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  <li><a href="/channel/add"><i class="fa fa-circle-o"></i> 添加渠道</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "whitelist" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-users"></i>
                <span>白名单管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "whitelist" %}
                  {% ifequal path.tail "account" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/whitelist/list/account"><i class="fa fa-circle-o"></i> 帐号白名单</a></li>
                  {% ifequal path.tail "udid" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/whitelist/list/udid"><i class="fa fa-circle-o"></i> 设备白名单</a></li>
                {% else %}
                  <li><a href="/whitelist/list/account"><i class="fa fa-circle-o"></i> 帐号白名单</a></li>
                  <li><a href="/whitelist/list/udid"><i class="fa fa-circle-o"></i> 设备白名单</a></li>
                {% endifequal %}
              </ul>
              <!-- 
              <ul class="treeview-menu">
                {% ifequal path.head "whitelist" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/whitelist/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  {% ifequal path.tail "add" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/whitelist/add"><i class="fa fa-circle-o"></i> 添加白名单</a></li>
                {% else %}
                  <li><a href="/whitelist/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  <li><a href="/whitelist/add"><i class="fa fa-circle-o"></i> 添加白名单</a></li>
                {% endifequal %}
              </ul>
              -->
            </li>
            {% ifequal path.head "notice" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-warning"></i>
                <span>更新公告管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "notice" %}
                  {% ifequal path.tail "qa" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/notice/list/qa"><i class="fa fa-circle-o"></i> QA公告</a></li>
                  {% ifequal path.tail "review" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/notice/list/review"><i class="fa fa-circle-o"></i> 审核公告</a></li>
                  {% ifequal path.tail "release" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/notice/list/release"><i class="fa fa-circle-o"></i> 正式公告</a></li>

                {% else %}
                  <li><a href="/notice/list/qa"><i class="fa fa-circle-o"></i> QA公告</a></li>
                  <li><a href="/notice/list/review"><i class="fa fa-circle-o"></i> 审核公告</a></li>
                  <li><a href="/notice/list/release"><i class="fa fa-circle-o"></i> 正式公告</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "sysmsg" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-bullhorn"></i>
                <span>系统消息管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "sysmsg" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/sysmsg/list"><i class="fa fa-circle-o"></i> 系统消息历史</a></li>
                  {% ifequal path.tail "send" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/sysmsg/send"><i class="fa fa-circle-o"></i> 发送系统消息</a></li>
                {% else %}
                  <li><a href="/sysmsg/list"><i class="fa fa-circle-o"></i> 系统消息历史</a></li>
                  <li><a href="/sysmsg/send"><i class="fa fa-circle-o"></i> 发送系统消息</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "email" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-envelope"></i>
                <span>邮件管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "email" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/email/list"><i class="fa fa-circle-o"></i> 邮件历史</a></li>
                  {% ifequal path.tail "person" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/email/send/person"><i class="fa fa-circle-o"></i> 发送个人邮件</a></li>
                  {% ifequal path.tail "svr" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/email/send/svr"><i class="fa fa-circle-o"></i> 发送全服邮件</a></li>
                {% else %}
                  <li><a href="/email/list"><i class="fa fa-circle-o"></i> 邮件历史</a></li>
                  <li><a href="/email/send/person"><i class="fa fa-circle-o"></i> 发送个人邮件</a></li>
                  <li><a href="/email/send/svr"><i class="fa fa-circle-o"></i> 发送全服邮件</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "function" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-lock"></i>
                <span>锁住游戏功能</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "function" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/function/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  {% ifequal path.tail "lock" %}<li class="active">{% else %}<li>{% endifequal %}
                    <a href="/function/lock"><i class="fa fa-circle-o"></i> 锁功能</a></li>
                {% else %}
                  <li><a href="/function/list"><i class="fa fa-circle-o"></i> 概览</a></li>
                  <li><a href="/function/lock"><i class="fa fa-circle-o"></i> 锁功能</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "gift" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-gift"></i>
                <span>礼包码管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "gift" %}
                  {% ifequal path.tail "unique" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/gift/list/unique"><i class="fa fa-circle-o"></i> 唯一礼包码</a></li>
                  {% ifequal path.tail "fixed" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/gift/list/fixed"><i class="fa fa-circle-o"></i> 固定礼包码</a></li>
                  {% ifequal path.tail "info" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/gift/info"><i class="fa fa-circle-o"></i> 服务器概览</a></li>
                  <!--
                  {% ifequal path.tail "erls" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/gift/erls"><i class="fa fa-circle-o"></i> 服务端文件</a></li>
                  -->
                {% else %}
                  <li><a href="/gift/list/unique"><i class="fa fa-circle-o"></i> 唯一礼包码</a></li>
                  <li><a href="/gift/list/fixed"><i class="fa fa-circle-o"></i> 固定礼包码</a></li>
                  <li><a href="/gift/info"><i class="fa fa-circle-o"></i> 服务器概览</a></li>
                  <!-- <li><a href="/gift/erls"><i class="fa fa-circle-o"></i> 服务端文件</a></li> -->
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "activity" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-th-list"></i>
                <span>活动管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "activity" %}
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/activity/list"><i class="fa fa-circle-o"></i> 活动列表</a></li>
                  {% ifequal path.tail "info" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/activity/info"><i class="fa fa-circle-o"></i> 服务器概览</a></li>
                {% else %}
                  <li><a href="/activity/list"><i class="fa fa-circle-o"></i> 活动列表</a></li>
                  <li><a href="/activity/info"><i class="fa fa-circle-o"></i> 服务器概览</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "notify" %}
              <li class="treeview active">
            {% else %}
              <li class="treeview">
            {% endifequal %}
              <a href="#">
                <i class="fa fa-bell"></i>
                <span>消息推送</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% ifequal path.head "notify" %}
                  {% ifequal path.tail "send" %}<li class="active">{% else %}<li>
                  {% endifequal %}
                    <a href="/notify/send"><i class="fa fa-circle-o"></i> 发送推送</a></li>
                  {% ifequal path.tail "list" %}<li class="active">{% else %}<li>{% endifequal %}
                  <a href="/notify/list"><i class="fa fa-circle-o"></i> 发送历史</a></li>
                {% else %}
                  <li><a href="/notify/send"><i class="fa fa-circle-o"></i> 发送消息</a></li>
                  <li><a href="/notify/list"><i class="fa fa-circle-o"></i> 发送历史</a></li>
                {% endifequal %}
              </ul>
            </li>
            {% ifequal path.head "gms" %}
              <li class="active">
            {% else %}
              <li>
            {% endifequal %}
              <a href="/gms/list"><i class="fa fa-wrench"></i> 其他GM</a></li>
            <li><a href="/unlock/list"><i class="fa fa-unlock"></i> 解锁游戏服务器</a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      {% block content %}
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Dashboard
              <small>Version 2.0</small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Dashboard</li>
            </ol>
          </section>
        </div><!-- /.content-wrapper -->
      {% endblock %}

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="#">轩意网络</a>.</strong> All rights reserved.
      </footer>

    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.3 -->
    <script src="/bower_components/admin-lte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <!-- <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src='/bower_components/admin-lte/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="/bower_components/admin-lte/dist/js/app.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="/bower_components/admin-lte/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="/bower_components/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="/bower_components/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="/bower_components/admin-lte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="/bower_components/admin-lte/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="/bower_components/admin-lte/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    <!-- SlimScroll 1.3.0 -->
    <script src="/bower_components/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="/bower_components/admin-lte/plugins/chartjs/Chart.min.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="/bower_components/admin-lte/dist/js/pages/dashboard2.js" type="text/javascript"></script> -->

    <!-- AdminLTE for demo purposes -->
    <script src="/bower_components/admin-lte/dist/js/demo.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js"></script>
    <script src="/bower_components/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="http://cdn.staticfile.org/messenger/1.4.0/js/messenger.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="http://cdn.bootcss.com/select2/4.0.0-rc.2/js/select2.min.js"></script>
    <script src="http://cdn.bootcss.com/select2/4.0.0-rc.2/js/i18n/zh-CN.js"></script>
    <script src="http://cdn.bootcss.com/store.js/1.3.14/store.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bower_components/vex/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <script src="//cdn.bootcss.com/vue/1.0.11/vue.js"></script>
    <!-- <script src="/bower_components/avalon/avalon.js"></script> -->
    <script src="//cdn.bootcss.com/avalon.js/1.4.4/avalon.js"></script>
    <script>
      avalon.config({
      loader: false
      })
init()
  function init() {
    if (!store.enabled) {
      alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser.')
        return
    }
  }
    </script>
    <script src="/js/base.js"></script>


    {% block myjs %}{% endblock %}
  </body>
</html>
