{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/gms/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" id="gms">
    <section class="content-header">
      <h1>
        <i class="fa fa-wrench"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-wrench"></i> GM管理</a></li>
        <li class="active"> </li>
      </ol>
    </section>

    <section class="content">
      <div class="row" ms-controller="add_whitelist">
        <div class="col-xs-6">
          <form class="form-horizontal" id="add_whitelist" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">公会副本<small><span class="bg-red">(<i class="fa fa-warning"></i>只能测试服使用,且需客户端配合)</span></small></h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    <button v-on:click="openGuildDungeon($event)" class="btn btn-success" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 开启中"><i class="fa fa-play"></i>开启</button>
                  </div>
                  <div class="col-xs-6">
                    <button v-on:click="closeGuildDungeon($event)" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 关闭中"><i class="fa fa-power-off"></i>关闭</button>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </form>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" v-on:click="closeModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-wrench"></i>选择服务器</h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <div class="">
                    <select id="svr_ids" name="serverlists" v-model="svr_ids" class="basic-select2" multiple="multiple" style="width: 100%">
                      <option value=[[serverlist.svr_id]] v-for="serverlist in serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" v-on:click="closeModal" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                <button type="button" v-on:click="handleGuildDungeon" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-cloud-upload"></i>确定</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>
  </div>
{% endblock %}
