{% extends "admin_base.html" %}

{% block myjs %}
  <script src="//cdn.bootcss.com/summernote/0.6.16/summernote.min.js"></script>
  <script src="/js/notice/add.js"></script>
{% endblock %}

{% block mycss %}
  <link href="//cdn.bootcss.com/summernote/0.6.16/summernote.min.css" rel="stylesheet">
  <style type="text/css">
#add_notice .rightIcon .form-control-feedback{
  top: 0;
  right: -26px;
}
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-warning fa-lg"></i>
        {% ifequal type "qa" %}
          QA公告
        {% else %}
          {% ifequal type "review" %}
            审核公告
          {% else %}
              正式公告
          {% endifequal %}
        {% endifequal %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-warning"></i> 公告管理</a></li>
        <li class="active"> 添加</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row" ms-controller="add_notice">
        <div class="col-xs-12">
          {% include 'notice/form.html' %}
        </div>
    </section>
  </div>
{% endblock %}
