<form class="form-horizontal" id="add_notice" role="form" method="POST" enctype="multiple/form-data">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">[[form_title]]更新公告</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label for="vsn" class="col-xs-2 control-label">版本</label>
        <div class="col-xs-7">
          <input type="text" ms-duplex="notice.vsn" class="form-control" name="vsn">
        </div>
      </div>
      <div class="form-group">
        <label for="platforms" class="col-xs-2 control-label">所属平台</label>
        <div class="col-xs-7 rightIcon">
          <label class="checkbox-inline" ms-repeat-platform="platforms">
            <input ms-duplex="notice.platforms" type="checkbox" name="platforms" ms-attr-value=[[platform.value]]>[[ platform.name ]]
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-xs-2 control-label">内容</label>
        <div class="col-xs-7">
          <!-- <textarea rows="16" ms-duplex="notice.content" class="form-control" name="content"></textarea> -->
          <div id="summernote">公告</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-7">
          <button type="button" class="btn btn-default pull-left" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
          <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 提交中"><i class="fa fa-cloud-upload"></i>提交</button>
        </div>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</form>
