{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/notice/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="notice_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-warning fa-lg"></i>
        {% ifequal type "qa" %}
          QA公告
        {% else %}
          {% ifequal type "review" %}
            审核公告
          {% else %}
              正式公告
          {% endifequal %}
        {% endifequal %}
        <button ms-click="to_add" type="button" class="btn btn-xs btn-default"><i class="fa fa-plus">添加</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-warning"></i> 公告管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">公告列表<span class="badge bg-green">[[ notices_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>版本号</th>
                  <th>选择平台</th>
                  <th>内容</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-notice="notices">
                  <td>[[ notice.vsn ]]</td>
                  <td><span class="badge" ms-repeat-platform="notice.platforms">[[ platform.name ]]</span></td>
                  <td width="20%">
                      [[ notice.content | html ]]
                  </td>

                  <td>
                    <button type="button" ms-click="to_edit(notice)" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>修改</button>
                    <button type="button" ms-click="del_notice(notice, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
  </div>

{% endblock %}
