{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/email/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="email_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-envelope fa-lg"></i>
        <button type="button" ms-click="send_person" class="btn btn-xs btn-default"><i class="fa fa-send"></i>发送个人</button>
        <button type="button" ms-click="send_svr" class="btn btn-xs btn-default"><i class="fa fa-send"></i>发送全服</button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-envelope"></i> 邮件管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">邮件历史<span class="badge bg-green">[[ emails_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>邮件标题</th>
                  <th>发件人</th>
                  <th>邮件类型</th>
                  <th>服务器</th>
                  <th>收件人</th>
                  <th>附件</th>
                  <th>内容</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-email="emails">
                  <td>[[ email.title ]]</td>
                  <td>[[ email.sender_name ]]</td>
                  <td>
                    <span class="badge">
                      <span ms-if="email.type == 'person'">发送个人</span>
                      <span ms-if="email.type == 'svr'">发送全服</span>
                    </span>
                  </td>
                  <td width=16%><span class="badge" ms-repeat-svr="email.svrs">[[svr.svr_id]]:[[svr.name]]</span></td>
                  <td width=16%><span class="badge" ms-repeat-user="email.users">[[user.user_id]]</span></td>
                  <td width=16%>
                    <span class="badge" ms-repeat-attachment="email.attachments">
                      [[attachment.item_type]]:[[attachment.item_id]]:[[attachment.item_amount]]
                    </span>

                  </td>
                  <td width=18%>[[ email.content ]]</td>
                  <td>
                    <button type="button" ms-click="del_email(email, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
