{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/email/send.js"></script>
  <!-- <script src="/bower_components/tagsinput/dist/bootstrap-tagsinput.min.js"></script> -->
  <!-- <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.5.0/bootstrap-tagsinput.min.js"></script> -->
  <script src="//cdn.bootcss.com/bootstrap-tagsinput/0.5.0/bootstrap-tagsinput.min.js"></script>
{% endblock %}

{% block mycss %}
  <!-- <link href="/bower_components/tagsinput/dist/bootstrap-tagsinput.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.5.0/bootstrap-tagsinput.css" /> -->
  <link href="//cdn.bootcss.com/bootstrap-tagsinput/0.5.0/bootstrap-tagsinput.css" rel="stylesheet">
  <style type="text/css">
.bootstrap-tagsinput {
  width: 100%;
}
.label {
  line-height: 2 !important;
}
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="send_email">
    <section class="content-header">
      <h1>
        <i class="fa fa-envelope fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-envelope"></i> 邮件管理</a></li>
        <li class="active"> 发送</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">
              发送{% ifequal type "person" %}个人{% else %}全服{% endifequal %}邮件
              </h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <form class="form-horizontal" id="send_email" role="form" method="POST">
                <div class="form-group">
                  <label for="title" class="col-xs-3 control-label">标题</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="email.title" class="form-control" name="title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="attachments" class="col-xs-3 control-label">附件</label>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="bg-info" ms-repeat-attachment="attachments">
                        <div class="col-xs-4">
                          <select ms-change="item_type_change($event, attachment)" class="form-control" name="item_type" ms-duplex="attachment.item_type">
                            <option ms-attr-value=[[type.type_id]] ms-repeat-type="item_types">[[type.name]]</option>
                          </select>
                        </div>
                        <div class="col-xs-4">
                          <select class="form-control" name="item_tid" ms-duplex="attachment.item_tid">
                            <option ms-attr-value="item_info.tid" ms-repeat-item_info="attachment.item_infos">[[item_info.tid]]-[[item_info.name]]</option>
                          </select>
                        </div>
                        <!-- <div class="col-xs-3">
                          <input type="text" ms-duplex="attachment.item_name" class="form-control" name="item_name" placeholder="附件的名字">

                        </div> -->
                        <div class="col-xs-3">
                          <input type="number" ms-duplex="attachment.item_amount" class="form-control" name="item_amount" placeholder="附件的数量">

                        </div>
                        <div class="col-xs-1">
                          <button type="button" ms-click="$remove" class="btn btn-link"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                    <button type="button" ms-click="to_add_attachment" class="btn btn-link"><i class="fa fa-plus"></i></button>

                  </div>
                </div>
                <!-- <div class="form-group" ms-if="type == 'person'">
                  <label for="serverlist" class="col-xs-3 control-label">选择服务器</label>
                  <div class="col-xs-6">
                    <select id="serverlist" name="serverlist" ms-duplex="email.serverlist" class="basic-select2" style="width: 100%">
                      <option value="">请选择服务器</option>
                      <option ms-attr-value=[[serverlist.svr_id]] ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="serverlists" class="col-xs-3 control-label">选择服务器</label>
                  <div class="col-xs-6">
                    <select id="serverlists" name="serverlists" ms-duplex="email.serverlists" class="basic-select2" multiple="multiple" style="width: 100%">
                      <option value="">选择至少一个服务器</option>
                      <option ms-attr-value=[[serverlist.svr_id]] ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" ms-if="type == 'person'">
                  <label for="users" class="col-xs-3 control-label">接收列表(id列表)</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="email.users" data-role="tagsinput" name="users">
                  </div>
                </div>
                <div class="form-group">
                  <label for="content" class="col-xs-3 control-label">内容</label>
                  <div class="col-xs-6">
                    <textarea rows="16" ms-duplex="email.content" class="form-control" name="content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ms-click="to_list"><i class="fa fa-hand-o-right"></i>邮件历史</button>
                    <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 发送中"><i class="fa fa-send"></i>发送</button>
                  </div>
                </div>
              </form>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      <div class="row">
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
