{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/whitelist/add_udid.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-mobile"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> 白名单管理</a></li>
        <li class="active"> 添加</li>
      </ol>
    </section>

    <section class="content">
      <div class="row" ms-controller="add_whitelist">
        <div class="col-xs-6">
          <form class="form-horizontal" id="add_whitelist" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">添加白名单</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label for="udid" class="col-xs-2 control-label">UDID</label>
                  <div class="col-xs-8">
                    <input type="text" ms-duplex="whitelist.udid" class="form-control" name="udid">
                  </div>
                </div>
                <div class="form-group">
                  <label for="remark" class="col-xs-2 control-label">备注</label>
                  <div class="col-xs-8">
                    <input type="text" ms-duplex="whitelist.remark" class="form-control" name="remark">
                  </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-default" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
                  <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 添加中"><i class="fa fa-plus"></i>添加</button>
              </div><!-- /.box-footer-->
            </div><!-- /.box -->
          </form>
        </div>
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">当前添加的白名单<span class="badge bg-green">[[ added_whitelists_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>UDID</th>
                  <th>备注</th>
                </tr>
                <tr ms-repeat-added_whitelist="added_whitelists">
                  <td>[[ added_whitelist.udid ]]</td>
                  <td>[[ added_whitelist.remark ]]</td>
                </tr>
              </table>

            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
  </div>
{% endblock %}
