{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/whitelist/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="whitelist_model">
    <section class="content-header">
      <h1>
        {% ifequal type "account" %}
          <i class="fa fa-users fa-lg"></i>帐号白名单
        {% else %}
          <i class="fa fa-mobile fa-lg"></i>设备白名单
        {% endifequal %}
        <button type="button" ms-click="to_add" class="btn btn-default btn-xs"><i class="fa fa-user-plus"></i>添加</button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> 白名单管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">白名单列表<span class="badge bg-green">[[ whitelists_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              {% ifequal type "account" %}
                <table class="table table-hover">
                  <tr>
                    <th>账户id</th>
                    <th>用户名</th>
                    <th>是否高级帐号</th>
                    <th>操作选项</th>
                  </tr>
                  <tr ms-repeat-whitelist="whitelists">
                    <td>[[ whitelist.account_id ]]</td>
                    <td>[[ whitelist.username ]]</td>
                    <td ms-if="whitelist.is_advanced == 1"><span class="badge bg-green">是</span></td>
                    <td ms-if="whitelist.is_advanced != 1"><span class="badge">否</span></td>
                    <td>
                      <button type="button" ms-click="to_edit(whitelist)" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>修改</button>
                      <button type="button" ms-click="del_whitelist(whitelist, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                    </td>
                  </tr>
                </table>
              {% else %}
                <table class="table table-hover">
                  <tr>
                    <th>UDID</th>
                    <th>备注</th>
                    <th>操作选项</th>
                  </tr>
                  <tr ms-repeat-whitelist="whitelists">
                    <td>[[ whitelist.udid ]]</td>
                    <td>[[ whitelist.remark ]]</td>
                    <td>
                      <button type="button" ms-click="del_whitelist(whitelist, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                    </td>
                  </tr>
                </table>
              {% endifequal %}

            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
    <section class="content">
      <div class="modal modal-primary fade" id="themodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><i class="fa fa-gamepad"></i>修改白名单</h4>
            </div>
            <form class="form-horizontal" role="form" method="POST" enctype="multiple/form-data">
              <div class="modal-body">
                <div class="form-group">
                  <label for="account_id" class="col-xs-3 control-label">账户id</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="whitelist.account_id" class="form-control" name="account_id">
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="col-xs-3 control-label">用户名</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="whitelist.username" class="form-control" name="username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="is_advanced" class="col-xs-3 control-label">是否高级QA</label>
                  <div class="col-xs-6">
                    <input id="is_advanced" type="checkbox" ms-duplex-boolean="whitelist.is_advanced" class="form-control bt-switch" name="is_advanced">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-hand-o-right"></i>概览</button>
                <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 提交中"><i class="fa fa-cloud-upload"></i>提交</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>
  </div>

{% endblock %}
