{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script src="/bower_components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="/js/gift/add.js"></script>
{% endblock %}

{% block mycss %}
  <link rel="stylesheet" href="/bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <style type="text/css">
#add_gift .rightIcon .form-control-feedback{
  top: 0;
  right: -26px;
}
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-gift fa-lg"></i>
        {% ifequal type "unique" %}
          唯一礼包码
        {% else %}
          固定礼包码
        {% endifequal %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gift"></i> 礼包码</a></li>
        <li class="active"> 添加</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row" ms-controller="add_gift">
        <div class="col-xs-12">
          <form class="form-horizontal" id="add_gift" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">添加礼包码</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label for="sn" class="col-xs-3 control-label">编号</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="gift.sn" class="form-control" name="sn">
                  </div>
                </div>

                <div class="form-group">
                  <label for="items" class="col-xs-3 control-label">礼品列表</label>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="bg-info" ms-repeat-item="items">
                        <div class="col-xs-4">
                          <select ms-change="item_type_change($event, item)" class="form-control" name="item_type" ms-duplex="item.item_type">
                            <option ms-attr-value=[[type.type_id]] ms-repeat-type="item_types">[[type.name]]</option>
                          </select>
                        </div>

                        <div class="col-xs-4">
                          <select class="form-control" name="item_tid" ms-duplex="item.item_tid">
                            <option ms-attr-value="item_info.tid" ms-repeat-item_info="item.item_infos">[[item_info.tid]]-[[item_info.name]]</option>
                          </select>
                        </div>

                        <div class="col-xs-3">
                          <input type="number" ms-duplex="item.item_amount" class="form-control" name="item_amount" placeholder="数量">

                        </div>
                        <div class="col-xs-1">
                          <button type="button" ms-click="$remove" class="btn btn-link"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                    <button type="button" ms-click="to_add_item" class="btn btn-link"><i class="fa fa-plus"></i></button>

                  </div>
                </div>
                {% ifequal type "fixed" %}
                  <div class="form-group">
                    <label for="code" class="col-xs-3 control-label">固定码</label>
                    <div class="col-xs-6">
                      <input type="text" ms-duplex="gift.code" class="form-control" name="code">
                    </div>
                  </div>
                {% endifequal %}
                <div class="form-group">
                  <label for="amount" class="col-xs-3 control-label">数量</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="gift.amount" class="form-control" name="amount">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">开始时间</label>
                  <div class="col-xs-6 rightIcon">
                    <div class="input-group date" id="start">
                      <input ms-duplex="gift.start" type="text" class="form-control" name="start" readonly/>
                      <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">截止时间</label>
                  <div class="col-xs-6 rightIcon">
                    <div class="input-group date" id="deadline">
                      <input ms-duplex="gift.deadline" type="text" class="form-control" name="deadline" readonly/>
                      <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email_title" class="col-xs-3 control-label">邮件标题</label>
                  <div class="col-xs-6">
                    <input type="text" ms-duplex="gift.email_title" class="form-control" name="email_title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email_content" class="col-xs-3 control-label">邮件内容</label>
                  <div class="col-xs-6">
                    <textarea rows="3" ms-duplex="gift.email_content" class="form-control" name="email_content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="remark1" class="col-xs-3 control-label">备注1</label>
                  <div class="col-xs-6">
                    <textarea rows="3" ms-duplex="gift.remark1" class="form-control" name="remark1"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="remark2" class="col-xs-3 control-label">备注2</label>
                  <div class="col-xs-6">
                    <textarea rows="3" ms-duplex="gift.remark2" class="form-control" name="remark2"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
                    <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 添加中">添加</button>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </form> 
        </div>
    </section>
  </div>
{% endblock %}
