{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/gift/erls.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="gift_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-gift fa-lg"></i>
        服务端文件&nbsp&nbsp&nbsp&nbsp
        <button ms-click="to_refresh" type="button" class="btn btn-sm btn-danger" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>生成中"><i class="fa fa-refresh">重新生成</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gift"></i> 礼包码</a></li>
        <li class="active"> 服务端文件</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-6">
          <div class="info-box">
            <a href="/static/gifts/gift_type.erl">
              <span class="info-box-icon bg-aqua"><i class="fa fa-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">礼包码类型</span>
                <span class="info-box-number">gift_type.erl</span>
              </div><!-- /.info-box-content -->
            </a>
          </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-xs-6">
          <div class="info-box">
            <a href="/static/gifts/gift_code.erl">
              <span class="info-box-icon bg-green"><i class="fa fa-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">礼包码列表</span>
                <span class="info-box-number">gift_code.erl</span>
              </div><!-- /.info-box-content -->
            </a>
          </div><!-- /.info-box -->
        </div><!-- /.col -->
      </div>
    </section>
  </div>
{% endblock %}
