{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/gift/info.js"></script>
{% endblock %}

{% block mycss %}
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="gift_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-gift fa-lg"></i>
        <!-- <button type="button" ms-click="to_lock" class="btn btn-xs btn-default"><i class="fa fa-lock">锁</i></button> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gift"></i> 礼包码管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器列表<span class="badge bg-green">[[ serverlists_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <select id="platform" ms-duplex="platform" data-placeholder="可选择一个平台" class="basic-select2" style="width: 130px;">
                  <option value="all">全部平台</option>
                  <option ms-attr-value=[[platform.value]] ms-repeat-platform="platforms">[[ platform.name ]]</option>
                </select>
                <select id="channel" ms-duplex="channel" data-placeholder="可选择一个渠道" class="basic-select2" style="width: 130px;">
                  <option value="all">全部渠道</option>
                  <option ms-attr-value=[[channel.id]] ms-repeat-channel="channels">[[ channel.name ]]-[[channel.tag]]</option>
                </select>
                <!-- <label>
                  <input class="icheck" type="checkbox"> 筛选有功能锁住的
                </label> -->
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>服务器id</th>
                  <th>服务器名字</th>
                  <th>类型</th>
                  <th>所属平台</th>
                  <th>所属渠道</th>
                  <th>礼包码列表</th>
                  <!-- <th>操作选项</th> -->
                </tr>
                <tr ms-repeat-serverlist="serverlists">
                  <td>[[ serverlist.svr_id ]]</td>
                  <td>[[serverlist.name]]</td>
                  <td><span class="badge">[[serverlist.type.name]]</span></td>
                  <td><span ms-repeat-platform="serverlist.platforms" class="badge">[[platform.name]]</span></td>
                  <td><span ms-repeat-channel="serverlist.channels" class="badge">[[channel.name]]</span></td>
                  <td width=20%>
                    <a href="#" ms-repeat-gift_sn="serverlist.gift_sns" ms-click="show_detail($event, gift_sn)">
                      <span class="badge bg-blue">[[gift_sn]]</span>
                    </a>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>

    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-gift"></i>
                  <span ms-if="gift.type == 'fixed'">固定礼包码</span>
                  <span ms-if="gift.type == 'unique'">唯一礼包码</span>
                </h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="sn" class="col-xs-2 control-label">编号</label>
                      <div class="col-xs-9">
                        <input type="text" ms-duplex="gift.sn" class="form-control" name="sn" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="items" class="col-xs-2 control-label">礼品列表</label>
                      <div class="col-xs-9">
                        <span class="form-control">
                          <span class="badge" ms-repeat-item="gift.items">
                            [[item.item_type_name]]:[[item.item_id]]:[[item.item_amount]]
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group" ms-if="gift.type == 'fixed'">
                      <label for="code" class="col-xs-2 control-label">固定码</label>
                      <div class="col-xs-9">
                        <input type="text" ms-duplex="gift.code" class="form-control" name="code" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="amount" class="col-xs-2 control-label">数量</label>
                      <div class="col-xs-9">
                        <input type="number" ms-duplex="gift.amount" class="form-control" name="amount" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-2 control-label">开始时间</label>
                      <div class="col-xs-9 rightIcon">
                        <div class="input-group date" id="start">
                          <input ms-duplex="gift.start" type="text" class="form-control" name="start" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-2 control-label">截止时间</label>
                      <div class="col-xs-9 rightIcon">
                        <div class="input-group date" id="deadline">
                          <input ms-duplex="gift.deadline" type="text" class="form-control" name="deadline" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email_title" class="col-xs-2 control-label">邮件标题</label>
                      <div class="col-xs-9">
                        <input type="text" ms-duplex="gift.email_title" class="form-control" name="email_title" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email_content" class="col-xs-2 control-label">邮件内容</label>
                      <div class="col-xs-9">
                        <textarea rows="3" ms-duplex="gift.email_content" class="form-control" name="email_content" readonly></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="remark1" class="col-xs-2 control-label">备注1</label>
                      <div class="col-xs-9">
                        <textarea rows="3" ms-duplex="gift.remark1" class="form-control" name="remark1" readonly></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="remark2" class="col-xs-2 control-label">备注2</label>
                      <div class="col-xs-9">
                        <textarea rows="3" ms-duplex="gift.remark2" class="form-control" name="remark2" readonly></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>
  </div>
{% endblock %}
