{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/gift/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="gift_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-gift fa-lg"></i>
        {% ifequal type "unique" %}
          唯一礼包码
        {% else %}
          固定礼包码
        {% endifequal %}
        <button ms-click="to_add" type="button" class="btn btn-xs btn-default"><i class="fa fa-plus">添加</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gift"></i> 礼包码</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div id="data" data-type={{ type }}></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">礼包列表<span class="badge bg-green">[[ gifts_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>编号</th>
                  <th>礼品列表</th>
                  {% ifequal type "fixed" %}
                    <th>固定码</th>
                  {% endifequal %}
                  <th>生成数量</th>
                  <th>生效时间</th>
                  <th>邮件标题</th>
                  <th>邮件内容</th>
                  <th>备注1</th>
                  <th>备注2</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-gift="gifts">
                  <td>[[ gift.sn ]]</td>
                  <td width=10%>
                    <span class="badge" ms-repeat-item="gift.items">
                      [[item.item_type_name]]:[[item.item_id]]:[[item.item_amount]]
                    </span>
                  </td>
                  {% ifequal type "fixed" %}
                    <td><span class="badge bg-green">[[gift.code]]</span></td>
                  {% endifequal %}
                  <td>[[gift.amount]]</td>
                  <td>
                    <span class="badge bg-green">[[gift.start]]</span>
                    <span class="badge bg-red">[[gift.deadline]]</span>
                  </td>
                  <td width=10%>[[gift.email_title]]</td>
                  <td width=10%>[[gift.email_content]]</td>
                  <td width=10%>[[gift.remark1]]</td>
                  <td width=10%>[[gift.remark2]]</td>
                  <td>
                    <a class="btn btn-success btn-xs" ms-href="'/static/gifts/' + gift.sn + '_' + gift.type + '_gift_code'"><i class="fa fa-download"></i>下载</a>
                    <button class="btn btn-info btn-xs" ms-click="to_send_specify_svrs(gift)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>发布中"><i class="fa fa-cloud-upload"></i>指定服</button>
                    <button class="btn btn-danger btn-xs" ms-click="to_send_svrs(gift)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>发布中"><i class="fa fa-cloud-upload"></i>所有服</button>
                    <!-- <button class="btn btn-danger btn-xs" ms-click="to_del(gift, $remove)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>删除中"><i class="fa fa-trash"></i>删除</button> -->
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>

    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" ms-click="close_modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-gift"></i>选择要发布的服务器</h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <div class="">
                    <select id="svr_ids" name="serverlists" ms-duplex="svr_ids" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <!-- <option value="">选择至少一个服务器</option> -->
                      <option ms-attr-value="serverlist.svr_id" ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" ms-click="close_modal" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                <button type="button" ms-click="send_specify_svrs" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-cloud-upload"></i>发布</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>
  </div>
{% endblock %}
