{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/notify/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" id="notify">
    <section class="content-header">
      <h1>
        <i class="fa fa-bell fa-lg"></i>
        <button type="button" v-on:click="to_send" class="btn btn-xs btn-default"><i class="fa fa-send"></i>发送消息</button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bell"></i> 消息推送</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">消息历史<span class="badge bg-green">[[ notifys_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>消息标题</th>
                  <th>消息内容</th>
                  <th>如何合并条件</th>
                  <th>服务器条件</th>
                  <th>充值条件</th>
                  <th>等级条件</th>
                  <th>时间</th>
                  <th>操作选项</th>
                </tr>
                <tr v-for="notify in notifys">
                  <td>[[ notify.title ]]</td>
                  <td>[[ notify.content ]]</td>
                  <td>
                    <span v-if="notify.is_and==1" class="badge bg-green">与</span>
                    <span v-else class="badge bg-blue">或</span>
                  </td>
                  <td width=16%>
                    <span v-if="notify.svrs.length == 0" class="badge">无</span>
                    <span class="badge bg-green" v-for="svr in notify.svrs">[[svr.svr_id]]:[[svr.name]]</span></td>
                  <td>
                    <span v-if="notify.is_pay==1" class="badge bg-green">有</span>
                    <span v-else class="badge">无</span>
                  </td>
                  <td>
                    <span v-if="notify.level_type==0" class="badge">无</span>
                    <span v-else>
                      <span class="badge bg-green">
                        <span v-if="notify.level_type==1">等于</span>
                        <span v-if="notify.level_type==2">大于</span>
                        <span v-if="notify.level_type==3">小于</span>
                      </span>
                      <span class="badge bg-blue">[[notify.level_value]]</span>
                    </span>
                  </td>
                  <td>[[notify.time]]</td>
                  <td>
                    <button type="button" ms-click="del_email(email, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
