{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/notify/send.js"></script>
  <!-- <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.5.0/bootstrap-tagsinput.min.js"></script> -->
  <script src="//cdn.bootcss.com/bootstrap-tagsinput/0.5.0/bootstrap-tagsinput.min.js"></script>
{% endblock %}

{% block mycss %}
  <!-- <link href="/bower_components/tagsinput/dist/bootstrap-tagsinput.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.5.0/bootstrap-tagsinput.css" /> -->
  <link href="//cdn.bootcss.com/bootstrap-tagsinput/0.5.0/bootstrap-tagsinput.css" rel="stylesheet">
  <style type="text/css">
.bootstrap-tagsinput {
  width: 100%;
}
.label {
  line-height: 2 !important;
}
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper" id="notify">
    <section class="content-header">
      <h1>
        <i class="fa fa-bell fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bell"></i> 消息推送管理</a></li>
        <li class="active"> 发送</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">
              发送消息推送
              </h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <form class="form-horizontal" id="send_notify" role="form" method="POST">
                <div class="form-group">
                  <label for="title" class="col-xs-3 control-label">标题*</label>
                  <div class="col-xs-6">
                    <input type="text" v-model="title" class="form-control" name="title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="content" class="col-xs-3 control-label">内容*</label>
                  <div class="col-xs-6">
                    <textarea rows="2" v-model="content" class="form-control" name="content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="is_and" class="col-xs-3 control-label">如何合并条件?</label>
                  <div class="col-xs-6">
                    <input id="is_and" type="checkbox" v-model="is_and" class="form-control and-switch" name="is_and">
                  </div>
                </div>
                <div class="form-group">
                  <label for="serverlists" class="col-xs-3 control-label">添加服务器条件?</label>
                  <div class="col-xs-6">
                    <select id="serverlists" name="serverlists" v-model="serverlists" class="basic-select2" multiple="multiple" style="width: 100%">
                      <option value=[[serverlist.svr_id]] v-for="serverlist in all_serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="is_pay" class="col-xs-3 control-label">添加充值条件?</label>
                  <div class="col-xs-6">
                    <input id="is_pay" type="checkbox" v-model="is_pay" class="form-control bt-switch" name="is_pay">
                  </div>
                </div>
                <div class="form-group">
                  <label for="level_info" class="col-xs-3 control-label">添加等级条件?</label>
                  <div v-if="is_add_level" class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-2">
                        <select v-on:change="levelTypeChange" v-model="level_type" class="form-control" name="level_type">
                          <option value=[[level_info.type]] v-for="level_info in level_infos">[[level_info.name]]</option>
                        </select>
                      </div>
                      <div class="col-xs-2">
                        <input type="number" v-model="level_value" class="form-control" name="level_value">

                      </div>
                      <button type="button" v-on:click="cancel_add_level" class="btn btn-link"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div v-else class="col-xs-6">
                    <button type="button" v-on:click="to_add_level" class="btn btn-link"><i class="fa fa-plus"></i></button>
                  </div>

                </div>

                <!-- <div class="form-group">
                  <label for="level_info" class="col-xs-3 control-label">添加等级条件?</label>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="bg-info" ms-repeat-item="items">
                        <div class="col-xs-4">
                          <select ms-change="item_type_change($event, item)" class="form-control" name="item_type" ms-duplex="item.item_type">
                            <option ms-attr-value=[[type.type_id]] ms-repeat-type="item_types">[[type.name]]</option>
                          </select>
                        </div>

                        <div class="col-xs-4">
                          <select class="form-control" name="item_tid" ms-duplex="item.item_tid">
                            <option ms-attr-value="item_info.tid" ms-repeat-item_info="item.item_infos">[[item_info.tid]]-[[item_info.name]]</option>
                          </select>
                        </div>

                        <div class="col-xs-3">
                          <input type="number" ms-duplex="item.item_amount" class="form-control" name="item_amount" placeholder="数量">

                        </div>
                        <div class="col-xs-1">
                          <button type="button" ms-click="$remove" class="btn btn-link"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                    <button type="button" ms-click="to_add_item" class="btn btn-link"><i class="fa fa-plus"></i></button>

                  </div>
                </div> -->
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-default pull-left" v-on:click="to_list"><i class="fa fa-hand-o-right"></i>消息历史</button>
                    <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 发送中"><i class="fa fa-send"></i>发送</button>
                  </div>
                </div>
              </form>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      <div class="row">
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
