{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/activity/info.js"></script>
{% endblock %}

{% block mycss %}
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="activity_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-th-list fa-lg"></i>
        <!-- <button type="button" ms-click="to_lock" class="btn btn-xs btn-default"><i class="fa fa-lock">锁</i></button> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th-list"></i> 活动管理</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器列表<span class="badge bg-green">[[ serverlists_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <select id="platform" ms-duplex="platform" data-placeholder="可选择一个平台" class="basic-select2" style="width: 130px;">
                  <option value="all">全部平台</option>
                  <option ms-attr-value=[[platform.value]] ms-repeat-platform="platforms">[[ platform.name ]]</option>
                </select>
                <select id="channel" ms-duplex="channel" data-placeholder="可选择一个渠道" class="basic-select2" style="width: 130px;">
                  <option value="all">全部渠道</option>
                  <option ms-attr-value=[[channel.id]] ms-repeat-channel="channels">[[ channel.name ]]-[[channel.tag]]</option>
                </select>
                <!-- <label>
                  <input class="icheck" type="checkbox"> 筛选有功能锁住的
                </label> -->
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>服务器id</th>
                  <th>服务器名字</th>
                  <th>类型</th>
                  <th>所属平台</th>
                  <th>所属渠道</th>
                  <th>活动列表</th>
                </tr>
                <tr ms-repeat-serverlist="serverlists">
                  <td>[[ serverlist.svr_id ]]</td>
                  <td>[[serverlist.name]]</td>
                  <td><span class="badge">[[serverlist.type.name]]</span></td>
                  <td><span ms-repeat-platform="serverlist.platforms" class="badge">[[platform.name]]</span></td>
                  <td><span ms-repeat-channel="serverlist.channels" class="badge">[[channel.name]]</span></td>
                  <td width=40%>
                    <a href="#" ms-repeat-activity="serverlist.activity_infos" ms-click="show_detail($event, activity)">
                      <span class="badge bg-blue">[[activity.title]]</span>
                    </a>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>

    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-th-list"></i>活动详情</h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="sn" class="col-xs-2 control-label">活动id</label>
                      <div class="col-xs-9">
                        <input type="text" ms-duplex="activity.id" class="form-control" name="id" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="title" class="col-xs-2 control-label">活动标题</label>
                      <div class="col-xs-9">
                        <input type="text" ms-duplex="activity.title" class="form-control" name="title" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-2 control-label">开始时间</label>
                      <div class="col-xs-9 rightIcon">
                        <div class="input-group date" id="start">
                          <input ms-duplex="activity.start" type="text" class="form-control" name="start" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-2 control-label">截止时间</label>
                      <div class="col-xs-9 rightIcon">
                        <div class="input-group date" id="deadline">
                          <input ms-duplex="activity.deadline" type="text" class="form-control" name="deadline" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="content" class="col-xs-2 control-label">活动内容</label>
                      <div class="col-xs-9">
                        <textarea rows="3" ms-duplex="activity.content" class="form-control" name="content" readonly></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>
  </div>
{% endblock %}
