{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script src="/bower_components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="/js/activity/list.js"></script>
{% endblock %}

{% block mycss %}
  <link rel="stylesheet" href="/bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <style type="text/css">
#add_gift .rightIcon .form-control-feedback{
  top: 0;
  right: -26px;
}
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="activity_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-th-list fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th-list"></i> 活动</a></li>
        <li class="active"> 列表</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">活动列表<span class="badge bg-green">[[ activity_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>ID</th>
                  <th>活动标题</th>
                  <th>活动内容</th>
                  <th>生效选项</th>
                  <th>取消选项</th>
                </tr>
                <tr ms-repeat-activity="activities">
                  <td>[[activity.id]]</td>
                  <td>[[activity.title]]</td>
                  <td>[[activity.content]]</td>
                  <td>
                    <button class="btn btn-info btn-xs" ms-click="to_send_specify_svrs(activity)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>发布中"><i class="fa fa-cloud-upload"></i>指定服</button>
                    <button class="btn btn-danger btn-xs" ms-click="to_send_all_svrs(activity)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>发布中"><i class="fa fa-cloud-upload"></i>所有服</button>
                  </td>
                  <td>
                    <button class="btn btn-info btn-xs" ms-click="to_cancel_specify_svrs(activity)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>取消中"><i class="fa fa-trash"></i>指定服</button>
                    <button class="btn btn-danger btn-xs" ms-click="to_cancel_all_svrs(activity)" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>取消中"><i class="fa fa-trash"></i>所有服</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>

    <section class="content">
      <div class="example-modal">
        <div class="modal modal-primary fade" id="themodal">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-th-list"></i>[[ modal_title ]]</h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <form class="form-horizontal">
                    <div class="form-group" ms-if="type != 'cancel'">
                      <label class="col-xs-2 control-label">开始时间</label>
                      <div class="col-xs-10 rightIcon">
                        <div class="input-group date" id="start">
                          <input ms-duplex="start" type="text" class="form-control" name="start" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ms-if="type != 'cancel'">
                      <label class="col-xs-2 control-label">截止时间</label>
                      <div class="col-xs-10 rightIcon">
                        <div class="input-group date" id="deadline">
                          <input ms-duplex="deadline" type="text" class="form-control" name="deadline" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ms-if="type == 'specify' || type == 'cancel'">
                      <label class="col-xs-2 control-label">服务器</label>
                      <div class="col-xs-10 rightIcon">
                        <select id="svr_ids" name="serverlists" ms-duplex="svr_ids" class="basic-multiple" multiple="multiple" style="width: 100%">
                          <option ms-attr-value="serverlist.svr_id" ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                        </select>
                      </diV>
                    </div>
                  </form>
                  <!-- <div class="">
                    <select id="svr_ids" name="serverlists" ms-duplex="svr_ids" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <option ms-attr-value="serverlist.svr_id" ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div> -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                <span ms-if="type == 'cancel'">
                  <button type="button" ms-click="cancel_specify_svrs" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-trash"></i>确定</button>
                </span>
                <span ms-if="type != 'cancel'">
                  <button type="button" ms-click="send_svrs" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-cloud-upload"></i>发布</button>
                </span>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><!-- /.example-modal -->
    </section>
  </div>
{% endblock %}
