{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/sysmsg/list.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="sysmsg_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-bullhorn fa-lg"></i>
        <button type="button" ms-click="to_send" class="btn btn-xs btn-default"><i class="fa fa-send">发送</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bullhorn"></i> 系统消息管理</a></li>
        <li class="active"> 历史</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">系统消息历史<span class="badge bg-green">[[ sysmsgs_amount ]]</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover" style="WORD-WRAP: break-word">
                <tr>
                  <th>类型</th>
                  <th>开始时间</th>
                  <th>循环次数-间隔</th>
                  <th>所选服务器</th>
                  <th>内容</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-sysmsg="sysmsgs">
                  <td><span class="badge">[[ sysmsg.msg_type.name ]]</span></td>
                  <td>[[ sysmsg.start_time ]]</td>
                  <td>[[ sysmsg.times ]]-[[sysmsg.interval_minute]]</td>
                  <td><span class="badge" ms-repeat-svr="sysmsg.svrs">[[svr.svr_id]]:[[svr.name]]</span></td>
                  <td width=20%>[[ sysmsg.content ]]</td>
                  <td>
                    <button type="button" ms-click="del_sysmsg(sysmsg, $remove)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </div>
{% endblock %}
