{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/sysmsg/send.js"></script>
{% endblock %}

{% block mycss %}
  <style type="text/css">
#send_sysmsg .rightIcon .form-control-feedback{
  top: 0;
  right: -26px;
}
  </style>
{% endblock %}


{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-bullhorn fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bullhorn"></i> 系统消息管理</a></li>
        <li class="active"> 发送</li>
      </ol>
    </section>
    <section class="content">
      <div class="row" ms-controller="send_sysmsg">
        <div class="col-xs-12">
          <form class="form-horizontal" id="send_sysmsg" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">发送公告</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label for="type" class="col-xs-3 control-label">公告类型</label>
                  <div class="col-xs-6 rightIcon">
                    <label class="radio-inline" ms-repeat-type="types">
                      <input type="radio" ms-duplex-string="sysmsg.type" name="type" ms-attr-value="type.value ">[[ type.name ]]
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">开始时间</label>
                  <!-- <div class="col-xs-6 rightIcon">
                    <div class="input-group date" id="timePicker">
                      <input ms-duplex="sysmsg.start_time" type="text" class="form-control" name="start_time" readonly/>
                      <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                      </span>
                    </div>
                  </div> -->
                  <div class='col-xs-6 rightIcon'>
                    <div class='input-group date' id='datetimepicker2'>
                      <input id="start_time" ms-duplex="sysmsg.start_time" type='text' class="form-control" name="start_time" />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="times" class="col-xs-3 control-label">循环次数</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="sysmsg.times" class="form-control" name="times">
                  </div>
                </div>
                <div class="form-group">
                  <label for="interval_minute" class="col-xs-3 control-label">循环间隔(分钟)</label>
                  <div class="col-xs-6">
                    <input type="number" ms-duplex="sysmsg.interval_minute" class="form-control" name="interval_minute">
                  </div>
                </div>
                <div class="form-group">
                  <label for="serverlists" class="col-xs-3 control-label">选择服务器</label>
                  <div class="col-xs-6">
                    <select id="serverlists" name="serverlists" ms-duplex="sysmsg.serverlists" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <option value="">选择至少一个服务器</option>
                      <option ms-attr-value=[[serverlist.svr_id]] ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="content" class="col-xs-3 control-label">内容</label>
                  <div class="col-xs-6">
                    <textarea ms-duplex="sysmsg.content" class="form-control" name="content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
                    <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 发送中"><i class="fa fa-send"></i>发送</button>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </form>
        </div>
    </section>
  </div>
{% endblock %}
