{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/function/list.js"></script>
{% endblock %}

{% block mycss %}
{% endblock %}

{% block content %}
  <div class="content-wrapper" ms-controller="function_model">
    <section class="content-header">
      <h1>
        <i class="fa fa-lock fa-lg"></i>
        <button type="button" ms-click="to_lock" class="btn btn-xs btn-default"><i class="fa fa-lock">锁</i></button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-lock"></i> 锁住游戏功能</a></li>
        <li class="active"> 概览</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器列表<span class="badge bg-green">[[ serverlists_amount ]]</span></h3>
              <div class="box-tools pull-right">
                <select id="platform" ms-duplex="platform" data-placeholder="可选择一个平台" class="basic-select2" style="width: 130px;">
                  <option value="all">全部平台</option>
                  <option ms-attr-value=[[platform.value]] ms-repeat-platform="platforms">[[ platform.name ]]</option>
                </select>
                <select id="channel" ms-duplex="channel" data-placeholder="可选择一个渠道" class="basic-select2" style="width: 130px;">
                  <option value="all">全部渠道</option>
                  <option ms-attr-value=[[channel.id]] ms-repeat-channel="channels">[[ channel.name ]]-[[channel.tag]]</option>
                </select>
                <label>
                  <input class="icheck" type="checkbox"> 筛选有功能锁住的
                </label>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>服务器id</th>
                  <th>服务器名字</th>
                  <th>类型</th>
                  <th>所属平台</th>
                  <th>所属渠道</th>
                  <th>已锁功能</th>
                  <th>操作选项</th>
                </tr>
                <tr ms-repeat-serverlist="serverlists">
                  <td>[[ serverlist.svr_id ]]</td>
                  <td>[[serverlist.name]]</td>
                  <td><span class="badge">[[serverlist.type.name]]</span></td>
                  <td><span ms-repeat-platform="serverlist.platforms" class="badge">[[platform.name]]</span></td>
                  <td><span ms-repeat-channel="serverlist.channels" class="badge">[[channel.name]]</span></td>
                  <td><span ms-repeat-func="serverlist.locked_funcs" class="badge">[[func.name]]</span></td>
                  <td>
                    <button type="button" ms-click="to_edit(serverlist)" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>修改</button>
                  </td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
  </div>
{% endblock %}
