{% extends "admin_base.html" %}

{% block myjs %}
  <script src="/js/function/lock.js"></script>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <i class="fa fa-lock fa-lg"></i>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-lock"></i> 锁住游戏功能</a></li>
        <li class="active"> 锁</li>
      </ol>
    </section>
    <section class="content">
      <div class="row" ms-controller="lock_function">
        <div class="col-xs-12">
          <form class="form-horizontal" id="lock_function" role="form" method="POST" enctype="multiple/form-data">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">锁住游戏功能</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <!-- <div class="form-group">
                  <label for="func_ids" class="col-xs-3 control-label">选择要关闭的功能</label>
                  <div class="col-xs-6" >
                    <label class="checkbox-inline" ms-repeat-func="functions">
                      <input ms-duplex="locked_funcs" type="checkbox" name="locked_funcs" ms-attr-value="func.func_id">[[func.name]]
                    </label>
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="serverlists" class="col-xs-3 control-label">选择服务器</label>
                  <div class="col-xs-6">
                    <select id="svr_ids" name="serverlists" ms-duplex="svr_ids" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <!-- <option value="">选择至少一个服务器</option> -->
                      <option ms-attr-value="serverlist.svr_id" ms-repeat-serverlist="serverlists">[[serverlist.svr_id]]:[[serverlist.name]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="locked_funcs" class="col-xs-3 control-label">选择要关闭的功能</label>
                  <div class="col-xs-6">
                    <select id="locked_funcs" name="locked_funcs" ms-duplex="locked_funcs" class="basic-multiple" multiple="multiple" style="width: 100%">
                      <option ms-attr-value="func.func_id" ms-repeat-func="functions">[[func.name]]</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ms-click="to_list"><i class="fa fa-hand-o-right"></i>概览</button>
                    <button type="button" ms-click="lock" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> 锁住中"><i class="fa fa-lock"></i>锁住</button>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </form>
        </div>
    </section>
  </div>
{% endblock %}
